<h1 class='title'><%= @recipe.name %></h1>
<div class='show-recipe container'>

  <section class='section'>
		<ul>
			<li>Preparation time: <%= @recipe.preparation_time %> hours</li>
			<li>Cooking time: <%= @recipe.cooking_time %> hours</li>
			<li><%= @recipe.description %></li>
		</ul>
		<button><%= link_to 'Genrate shopping list', shopping_list_index_path(recipe_id: @recipe.id) %></button>
  </section>

	<section class='section'>
		<ul>
			<li>Public <%= @recipe.public %></li>
		</ul>
		<button><%= link_to 'Add Ingredient!', new_user_recipe_recipe_food_path(user_id: @recipe.user_id, recipe_id: @recipe.id) %></button>
	</div>
	</section>

<hr class='container'>

<table class='container'>
	<tr>
		<th>Food</th>
		<th>Quantity</th>
		<th>Value</th>
		<th>Actions</th>
	</tr>
	<% @recipe.recipe_foods.each do |recipe_food| %>
	<tr>
		<td><%= recipe_food.food.name %></td>
		<td><%= recipe_food.quantity %></td>
		<td><%= recipe_food.food.price %></td>
		<td><% if recipe_food.recipe.user == @current_user%>
					<button>Modify</button>
					<%= button_to 'Delete', user_recipe_recipe_food_path(id: recipe_food.id, recipe_id: recipe_food.recipe_id), method: :delete %>
  			<% end %>
  	</td>
	</tr>
	<% end %>
</table>

</section>